.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python virtual environment
venv/
.venv/
database.db
settings.json

# Generated qr codes
qr.png
qr_online.png

# Coverage reports
.coverage
htmlcov/
coverage.xml

# Negations last
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets